/* Red: #6d0000 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;
}
body {
  overflow: hidden;
}
h1,
h3 {
  text-align: center;
  padding: 2rem;
}
h2 {
  text-align: center;
}
h4 {
  font-family: 'Patua One', cursive;
  font-size: 1.1rem;
  text-align: center;
}
a {
  text-decoration: none;
  padding: 0 1rem;
}
button {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  overflow-y: scroll;
}
.nav-top {
  grid-area: nav;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.nav-top ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 1.5rem;
  flex-wrap: wrap;
}
.nav-top a {
  color: #444444;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nav-top a:hover {
  color: #6d0000;
}
.logo-group {
  font-family: 'Patua One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-group a {
  font-size: 2.8rem;
  text-transform: capitalize;
  color: black;
  padding: 0;
}
.logo-group a:hover {
  text-decoration: none;
  color: black;
}
.logo-group img {
  height: 2.2rem;
  margin: 0.8rem 0.2rem 0rem 0.2rem;
}
.signup-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-button {
  padding: 0.5rem 2rem;
  margin: 0rem 1rem 0rem 2rem;
  background-color: #6d0000;
  border-radius: 15px;
  color: white;
  border: 3px solid #6d0000;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.signup-button:hover {
  cursor: pointer;
  background-color: white;
  color: #6d0000;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer {
  grid-area: footer;
  background-color: lightblue;
}
footer ul {
  display: flex;
  justify-content: space-between;
}
.region-page {
  margin: 5rem 0rem;
  display: flex;
}
.region-icon {
  height: 200px;
}
.highlight-title {
  text-align: center;
  margin: 1rem 0;
}
.highlight-upcoming {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.highlight-card {
  max-width: 250px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 1rem;
  padding: 0 0 1rem 0;
  transition: transform 0.2s;
}
.highlight-card-title {
  padding: 1rem;
}
.highlight-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.highlight-card li {
  margin-left: 2rem;
}
.highlight-card h4 {
  padding-left: 1rem;
}
.highlight-card-container,
.highlight-card-link {
  font-size: 0.9rem;
  padding-left: 1rem;
}
