/* Red: #6d0000 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;
}
body {
  height: 100vh;
}
h1 {
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 60vw;
  margin: 5rem 0;
}
h2,
h3,
h4,
h5 {
  font-family: 'Patua One', cursive;
  text-align: center;
}
h4 {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  padding: 0 1rem;
}
img {
  z-index: -1;
}
button {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 8rem);
}
.app {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  overflow: hidden;
  padding-top: 4rem;
}

/* Highlight component-level styles */
.highlight-card-title {
  padding: 1rem;
}
.highlight-card-container,
.highlight-card-link {
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 1rem 1rem;
}
.highlight-card {
  max-width: 250px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 1rem;
  transition: transform 0.2s;
}
.highlight-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.highlight-card li {
  margin-left: 2rem;
}
.highlight-card h4 {
  padding-left: 1rem;
}
.highlight-title {
  margin: auto;
  padding: 2rem 0;
}

/* Region page component-level styles */
.region-page {
  margin: 3rem 0;
  display: flex;
}
a.anchor {
  display: block;
  position: relative;
  top: -4rem;
  background-color: lightcoral;
}
.region-title-icon {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding-right: 1rem;
}
